[Desktop Entry]
Encoding=UTF-8
Name=MX Samba Config
Name[ca]=MX Samba Config
Name[de]=MX Samba Config
Name[el]=MX Samba Config
Name[es]=MX Samba Config
Name[fr]=MX Samba Config
Name[it]=MX Samba Config
Name[ja]=MX Samba Config
Name[nl]=MX Samba Config
Name[sv]=MX Samba Config
Comment=
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=
Comment[fr]=
Comment[it]=
Comment[ja]=
Comment[nl]=
Comment[sv]=
Exec=mx-samba-config
Terminal=false
Type=Application
Icon=mx-samba-config
Categories=GNOME;GTK;System;
NoDisplay=false
